<div class="container-fluid">
  <div class="donation-page">
    <div class="image">
      <img
        src="https://img.freepik.com/free-photo/volunteers-holding-boxes-containing-donations-charity_23-2149230562.jpg?w=1060&t=st=1683405624~exp=1683406224~hmac=387b484928baf03000813784b91ec6c87f7f08d3dee6f8a62a240b87ecf39e11"
        alt="Image description" />
    </div>
    <div class="form">
      <h2>Donate Now</h2>
      <form>
        <div class="form-group">
          <label for="amount">Amount</label>
          <input type="number" name="amount" id="amount" required />
        </div>
        <div class="form-group">
          <label for="name">Credit Card Number</label>
          <input type="text" name="name" id="name" required />
        </div>
        <div class="form-group">
          <label for="email">Security Code</label>
          <input type="email" name="email" id="email" required />
        </div>
        <button type="submit">Donate</button>
      </form>
    </div>
  </div>
</div>