<div class="container">
  <div class="row">
    <div class="col-md-6">
      <img src="/assets/images/about.png" alt="About Us Image" class="img-fluid">
    </div>
    <div class="col-md-6">
      <h1>About Us</h1>
      <p>The
        <strong>Komunidad Foundation</strong>
        is a non-profit organization in the Philippines dedicated to helping marginalized communities through various
        initiatives and programs. Our mission is to improve the lives of underserved communities by providing them with
        access to education, healthcare, and livelihood opportunities. The Foundation's outreach efforts focus on remote
        areas where basic services are often lacking, such as indigenous peoples' communities, rural villages, and urban
        poor settlements. Their programs include the provision of school supplies and educational support to children,
        medical missions. livelihood training, and community development projects. By empowering marginalized
        communities through their inclusive outreach efforts, the Komunidad Foundation is making a significant impact in
        improving the lives of those who need it most.
      </p>
      <div class="text-center mt-4">
        <button class="btn btn-primary btn-lg">DONATE</button>
      </div>

    </div>

  </div>
</div>
