<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <header>
    <!-- Content -->
  </header>

  <main>
    <!-- Content -->
  </main>

  <section id="">
    <footer class="">
      <section id="landing">
        <div class="center">
          <div class="img-container">
            <img src="/assets/images/6.png" alt="" />
          </div>
        </div>
      </section>
    </footer>

    <footer class="footer">

      <div class="footer__addr">
        <h1 class="footer__logo">Affiliated Companies</h1>
        <img src="/assets/images/2.png" alt="" class="pic">
      </div>

      <ul class="footer__nav">
        <li class="nav__item">
          <h2 class="nav__title">Mailing Address</h2>

          <ul class="nav__ul">
            <li>
              <a href="#">123 Anywhere St., Any City, State, Country 12345
                <br>
                888 Bamban St., Sanfernando City, 2001</a>
            </li>
          </ul>
          <br>
          <h2 class="nav__title">Email Address</h2>

          <ul class="nav__ul">
            <li>
              <a href="#">support@komunidadfoundation.com</a>
            </li>
          </ul>
          <br>
          <h2 class="nav__title">Phone Number</h2>

          <ul class="nav__ul">
            <li>
              <a href="#">(123) 456 7890</a>
              <br>
              <a href="#">(123) 456 7890</a>
              <br>
              <a href="#">(123) 456 7890</a>
            </li>
          </ul>
        </li>
      </ul>
    </footer>
  </section>
</body>

</html>
