.container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://i.ibb.co/d0F6D3P/pexels-vecislavas-popa-1571458.jpg");
  background-size: cover;
  background-position: center;
  filter: brightness(175%) blur(10px);
  z-index: -1;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  flex-wrap: wrap;
  padding: 50px;
}

.left {
  flex: 1;
  padding-right: 50px;
  padding-top: 100px;
}

.left h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: purple;
}

.left p {
  font-family: 'Montserrat', sans-serif;
  text-align: justify;
}

.right {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.right img:nth-child(1) {
  position: relative;
  top: 0;
  left: 20px;
}

.right img:nth-child(2) {
  position: relative;
  top: 300px; /* adjust this value as needed */
  left: 10px;
}

.right img:nth-child(3) {
  position: relative;
  top: -20px; /* adjust this value as needed */
  left: 0;
}

h1 {
  font-size: 40px;
  margin-top: 0;
}

p {
  background-color: rgba(0, 0, 0, 0.5); /* add a semi-transparent black background */
  color: #fff; /* set the text color to white */
  padding: 20px; /* add some padding to the text */
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 30px;
}

/* Media Queries */

@media only screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .left,
  .right {
    flex-basis: 100%;
    padding: 0;
  }

  .right img:nth-child(1) {
    top: -50px;
    left: 0;
    margin-bottom: 20px;
  }

  .right img:nth-child(2) {
    top: 0;
    left: 0;
  }

  .right img:nth-child(3) {
    top: 50px;
    left: 0;
    margin-top: 20px;
  }
}

@media only screen and (max-width: 480px) {
  .left h1 {
    font-size: 28px;
  }

  .left p {
    font-size: 18px;
  }

  h1 {
    font-size: 32px;
  }

  p {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .right img {
    max-width: 100%;
    height: auto;
  }
}
