<body>
  <div class="container-fluid">
    <h1>KOMUNIDAD PROJECTS</h1>

    <div class="card-container">

      <div class="card">
        <div class="card-header">
          <img
            src="https://img.freepik.com/premium-photo/couple-teacher-fell-love-couple-teacher-class-room-prewedding-concept-photo-shot_663363-256.jpg?w=1380" />
        </div>
        <div class="card-body">
          <h3>Education Programs</h3>
          <p>Providing educational opportunities, foundations help individuals acquire knowledge and skills that can
            improve their lives and empower them to contribute to their communities.</p>
        </div>
        <div class="card-footer">
          <button class="btn">Tell me more</button>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <img
            src="https://img.freepik.com/free-photo/medium-shot-people-working-together_23-2149142790.jpg?w=1380&t=st=1683307505~exp=1683308105~hmac=6fae8a2aa4465cf12a0438177015d36a622285d8a258ba235d7e74c553b5a036" />
        </div>
        <div class="card-body">
          <h3>Feeding Programs</h3>
          <p>Feeding programs by foundations aim to provide food and nourishment to malnourished individuals such as
            children, pregnant women, and elderly people until they regain their weight.
          </p>
        </div>
        <div class="card-footer">
          <button class="btn">Tell me more</button>
        </div>
      </div>

      <div class="card">
        <div class="card-header">
          <img
            src="https://img.freepik.com/premium-photo/women-who-are-interested-organic-farming-she-is-learning-from-speaker-real-field_44602-97.jpg?w=1380" />
        </div>
        <div class="card-body">
          <h3>Agriculture Programs</h3>
          <p>
            By focusing on agricultural development, foundations can help increase food security, create sustainable
            income streams, and improve the overall well-being of rural communities.
          </p>
        </div>
        <div class="card-footer">
          <button class="btn">Tell me more</button>
        </div>

      </div>
      <div class="card">
        <div class="card-header">
          <img
            src="https://img.freepik.com/free-photo/close-up-people-volunteer-teamwork-putting-finger-star-shapehands-togetherstack-handsunity-teamwork-world-environment-day_640221-314.jpg?w=1380&t=st=1683307560~exp=1683308160~hmac=4bf21a9f306aa6950fb86a27a291d43a5d87cec22bae8a1a5f7cdfb6d9edc3e0" />
        </div>
        <div class="card-body">
          <h3>Livelihood Programs</h3>
          <p>Livelihood programs can range from vocational training and microfinance to providing equipment or supplies
            for small businesses. Foundations can make a significant impact in communities and promoting sustainable
            development.</p>
        </div>
        <div class="card-footer">
          <button class="btn">Tell me more</button>
        </div>

      </div>

    </div>
  </div>
</body>
