<div class="container">
  <div class="column">
    <h2 class="titleThankYou">THANK YOU</h2>
    <p class="thankyoudesc">
      We wanted to take a moment to express our heartfelt appreciation for your recent donation and sign-up to our
      foundation. Your generosity and commitment to our cause are truly inspiring and will help us continue our mission
      of making a positive impact in the world.
      <br>
      <br>
      With your support, we will be able to make a significant difference in the lives of those in need, whether it's
      providing vital resources to communities, supporting research and development of life-saving technologies, or
      working to protect the environment for future generations.
      <br>
      <br>
      We are deeply grateful for your trust in us and your dedication to our cause. We promise to use your donation to
      make a meaningful and lasting impact in the world.
      <br>
      <br>
      Thank you once again for your support and for joining us in our mission.
      <br>
      <br>
      <b>We will send you an email containing additional instructions, news, and updates.</b>

    </p>
  </div>
  <div class="column image-column">
    <img src="/assets/images/thankyou.png" />
  </div>
</div>
